<div class="div-filter">
    <div id="filters">

      <a href="/listings">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>All</p>
      </div>
    </a>

    <a href="#" onclick="selectCategory('Room')">
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Iconic city')">
      <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Iconic Cities</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Mountain')">
      <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Castle')">
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Pool')">
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Camping')">
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Farm')">
      <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Arctic')">
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Domes')">
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Beach')">
      <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beaches</p>
      </div>
      </a>

      <a href="#" onclick="selectCategory('Tropical')">
      <div class="filter">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tropical</p>
      </div>
      </a>

      <!-- <a href="">
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>
      </a> -->

    </div>