<% layout("/layouts/boilerplate") %>
<!-- <%- include("../includes/filter.ejs")%> -->
<style>
    .nofound{
        text-align: center;
        margin-bottom:15%;
        font-size: 1.2rem;
    }
    button{
        border-radius: 10px;
        background-color: #fe424d;
        color:white;
        border:none;
        padding:5px;
        font-size:1.15rem;
    }
  
</style>
<div class="nofound">

    <p>Your search returned no results. Please ensure your keywords are correct and try again.</p>
    <form action="/listings" method="get">
    
        <button>Go back</button>
    </form>
</div>