<% layout("/layouts/boilerplate") %>
<%- include("../includes/filter.ejs")%>
<style>
    p{
        text-align: center;
        margin-top:30vh;
        font-size: 1.2rem;
    }
</style>

<p>Your search returned no results. Please ensure your keywords are correct and try again.</p>